*{
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
    overflow-x: hidden;
}

body{
    background-color: #eaeaea;
    height: 1000px;
}

nav{
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    z-index: 999;
    background-color: white;
    box-shadow: 5px 2px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1.nav{
    width: 20%;
    padding-left: 20px ;
    font-size: 30px;
    color: rgb(0, 95, 67);
}

ul{
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li:hover{
    text-decoration: underline;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.219);
    transform: scale(1.2);
    background-color: orange;
}

li{
    transition: 0.5s ease;
    padding: 2px;
    border-radius: 2px;
}

a{
    display: inline-block;
    color: rgb(0, 95, 67);
    text-decoration: none;
}

.button{
    width: 15%;
    text-align: center;
}

button{
    width: 80%;
    margin: auto;
    border: 2px solid rgb(196, 196, 196);
    background-color: rgb(0, 95, 67);
    padding: 7px;
    border-radius: 5px;
    transition: 0.7s;
    display: flex;
    justify-content: center;
    align-items: center;
}

button > a{
    color: white;
    font-weight: bold;
}

button:hover{
    background-color: rgba(0, 95, 67, 0.0);
    border-color: rgb(0, 95, 67);
    box-shadow: 1px 0 3px rgb(0, 95, 67);
}

button:hover a{
    color: rgb(0, 95, 67);
}

div.container{
    width: 80%;
    position: relative;
    margin: 70px auto 20px auto;
}

.container .profil{
    height: 400px;
    display: grid;
    grid-template-columns: 1fr;
}

.profil .profil-left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profil-left img{
    width: 200px;
    border: 4px solid rgb(2, 112, 97);
    border-radius: 50%;
    box-shadow: 0px 0px 7px rgba(0, 182, 152, 0.9);
    padding: 3px;
}

.profil .profil-right{
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
}

.profil-right h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 95, 67);
}

.profil-right p{
    color: rgb(0, 95, 67);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container-about{
    width: 100%;
    background-color: #c0c0c0;
    padding: 40px;
    height: 250px;
}

.about{
    text-align: center;
    width: 80%;
}

h1.head{
    font-size: 28px;
    text-align: center;
    padding-bottom: 5px;
    width: 150px;
    margin: 0 auto 30px auto;
    color: rgb(0, 95, 67);
}

h1.head:hover{
    border-bottom: 4px solid rgb(0, 95, 67);
    padding-bottom: 1px;
    cursor: pointer;
}

.about p{
    padding-top: 7px;
    font-size: 15px;
}

.container-skill{
    width: 100%;
    padding: 40px;

}

.container-skill .skill{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 40px;

}

.skill{
    width: 60%;
    margin: 0 auto;
}

.container-skill p{
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}

.pr{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pr .progres{
    border: 2px solid rgb(0, 95, 67);
    width: 90%;
    height: 20px;
    border-radius: 5px;
    text-align: center;
}

.progres .progres-bar{
    background-color: rgb(0, 95, 67);
    color: white;
}

.container-contact{
    background-color: #c0c0c0;
    padding: 40px;
    width: 100%;
}

.container-contact .contact{
    width: 70%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 30px;
}

.container-contact p.p{
    text-align: center;
}

.container-contact p:nth-child(odd){
    font-weight: 500;
}

footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: rgb(0, 95, 67);
}

/* Responsive */

@media screen and (min-width: 600px) {
    h1.nav{
        width: 30%;
        padding-left: 30px ;
    }
    

    ul{
        width: 40%;
    }

    .container .profil{
        grid-template-columns: 1fr 1.5fr;
        grid-template-areas: 
        'left right';
    }
    .profil-right{
        padding-left: 20px;
        grid-area: right;
    }

    .profil-right h1{
        align-items: flex-end;
        justify-content: left;
    }

    .profil-right p{
        justify-content: left;
        padding-top: 10px;
    }

    .profil .profil-left{
        grid-area: left;
    }

    .about{
        text-align: left;
        width: 80%;
        margin: auto;
    }

    .container-skill .skill{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .container-contact .contact{
        width: 50%;
    }
}

@media screen and (min-width: 800px) {
    .container-contact .contact{
        width: 35%;
    }
}